.flash-sale-content {
  .product-slider {
    .product-card {
      .product-name {
        font-weight: 600;
        font-size: 16px;
        color: red;
        margin: 0 0 8px;
        line-height: 1.4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
  }
}