.showroomSystemContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.menuList {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #eee;

      a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: #0877d8;
        transition: 0.2s;
      }

      &.active a {
        background: #075396;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

.content {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border-radius: 0px 10px 10px 0px;

  .warrantyContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* Tab box */
.tabOption {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;

  &.active {
    border-color: #007bff;
    background: #007bff;
    color: white;
  }
}

.tabContentArea {
  position: relative;
  min-height: 300px;
  flex: 1;
}

.tabPanel {
  display: none;

  &.active {
    display: block;
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
}

/* Form tra cá»©u */
.inputGroup {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.searchButton {
  background: #0877d8;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #075396;
  }
}