USE [GTN_Shop]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderItemsType]    Script Date: 10/30/2025 5:30:56 PM ******/
CREATE TYPE [dbo].[OrderItemsType] AS TABLE(
	[ProductId] [int] NULL,
	[ProductName] [nvarchar](300) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Quantity] [int] NULL
)
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Slug] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CategoryId] [int] NULL,
	[SKU] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Stock] [int] NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[IsPublished] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ProductSummary]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========== 14) Quick helper views (optional) ===========
CREATE   VIEW [dbo].[v_ProductSummary] AS
SELECT p.ProductId, p.Name, p.CategoryId, c.Name AS CategoryName, p.Price, p.DiscountPrice, p.Stock, p.ImageUrl
FROM dbo.Products p LEFT JOIN dbo.Categories c ON p.CategoryId = c.CategoryId;
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](300) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LineTotal]  AS ([UnitPrice]*[Quantity]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RecipientName] [nvarchar](200) NOT NULL,
	[RecipientPhone] [nvarchar](30) NOT NULL,
	[RecipientAddress] [nvarchar](1000) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DoanhThuNgay]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 4️⃣ Doanh thu theo NGÀY
CREATE   VIEW [dbo].[View_DoanhThuNgay] AS
SELECT 
    CAST(O.CreatedAt AS DATE) AS Ngay,
    SUM(OI.Quantity * OI.UnitPrice) AS TongDoanhThu,
    COUNT(DISTINCT O.OrderId) AS SoLuongDonHang
FROM dbo.Orders O
INNER JOIN dbo.OrderItems OI ON O.OrderId = OI.OrderId
WHERE O.Status IN (N'Completed', N'Delivered')
GROUP BY CAST(O.CreatedAt AS DATE);
GO
/****** Object:  View [dbo].[View_DoanhThuTuan]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5️⃣ Doanh thu theo TUẦN
CREATE   VIEW [dbo].[View_DoanhThuTuan] AS
SELECT 
    DATEPART(YEAR, O.CreatedAt) AS Nam,
    DATEPART(WEEK, O.CreatedAt) AS Tuan,
    SUM(OI.Quantity * OI.UnitPrice) AS TongDoanhThu,
    COUNT(DISTINCT O.OrderId) AS SoLuongDonHang
FROM dbo.Orders O
INNER JOIN dbo.OrderItems OI ON O.OrderId = OI.OrderId
WHERE O.Status IN (N'Completed', N'Delivered')
GROUP BY DATEPART(YEAR, O.CreatedAt), DATEPART(WEEK, O.CreatedAt);
GO
/****** Object:  View [dbo].[View_DoanhThuThang]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6️⃣ Doanh thu theo THÁNG
CREATE   VIEW [dbo].[View_DoanhThuThang] AS
SELECT 
    DATEPART(YEAR, O.CreatedAt) AS Nam,
    DATEPART(MONTH, O.CreatedAt) AS Thang,
    SUM(OI.Quantity * OI.UnitPrice) AS TongDoanhThu,
    COUNT(DISTINCT O.OrderId) AS SoLuongDonHang
FROM dbo.Orders O
INNER JOIN dbo.OrderItems OI ON O.OrderId = OI.OrderId
WHERE O.Status IN (N'Completed', N'Delivered')
GROUP BY DATEPART(YEAR, O.CreatedAt), DATEPART(MONTH, O.CreatedAt);
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](500) NOT NULL,
	[Meta] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtAdded] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LoginTime] [datetime2](7) NULL,
	[IPAddress] [nvarchar](100) NULL,
	[UserAgent] [nvarchar](1000) NULL,
	[Success] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecentViewProducts]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecentViewProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[SKU] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Stock] [int] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsPublished] [bit] NULL,
	[ViewedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[PasswordHash] [varbinary](8000) NOT NULL,
	[PasswordSalt] [varbinary](128) NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [nvarchar](30) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[FailedLoginAttempts] [int] NULL,
	[LockedUntil] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([AuditLogId], [UserId], [Action], [Meta], [CreatedAt]) VALUES (1, NULL, N'INSERT', N'ProductId=8; Name=Logitech G502 HERO', CAST(N'2025-10-30T02:20:34.5436470' AS DateTime2))
INSERT [dbo].[AuditLogs] ([AuditLogId], [UserId], [Action], [Meta], [CreatedAt]) VALUES (2, NULL, N'INSERT', N'ProductId=7; Name=Keychron K2', CAST(N'2025-10-30T02:20:34.5436470' AS DateTime2))
INSERT [dbo].[AuditLogs] ([AuditLogId], [UserId], [Action], [Meta], [CreatedAt]) VALUES (3, NULL, N'INSERT', N'ProductId=6; Name=Màn hình Viewsonic VA2432A-H', CAST(N'2025-10-30T02:20:34.5436470' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemId], [CartId], [ProductId], [Quantity], [PriceAtAdded]) VALUES (1, N'031d0471-6027-4f33-8fda-47b3fbe85a98', 1, 1, CAST(25000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CartItems] ([CartItemId], [CartId], [ProductId], [Quantity], [PriceAtAdded]) VALUES (2, N'031d0471-6027-4f33-8fda-47b3fbe85a98', 7, 1, CAST(1890000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
INSERT [dbo].[Carts] ([CartId], [UserId], [CreatedAt], [UpdatedAt]) VALUES (N'031d0471-6027-4f33-8fda-47b3fbe85a98', NULL, CAST(N'2025-10-30T02:20:34.5967409' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Slug], [Description], [CreatedAt]) VALUES (1, N'Laptop', N'laptop', N'Laptop - nhi?u phân khúc', CAST(N'2025-10-30T02:20:34.4529023' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [Name], [Slug], [Description], [CreatedAt]) VALUES (2, N'PC', N'pc', N'Desktop/PC gaming & workstation', CAST(N'2025-10-30T02:20:34.4529023' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [Name], [Slug], [Description], [CreatedAt]) VALUES (3, N'Màn hình', N'monitor', N'Màn hình choi game và van phòng', CAST(N'2025-10-30T02:20:34.4529023' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity]) VALUES (1, 1, 1, N'Laptop Dell XPS 9350 XPS9350-U5IA165W11GR-FP', CAST(25000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity]) VALUES (2, 2, 2, N'PC GTN X ASUS ROG HATSUNE MIKU EDITION (AMD Ryzen 9 9950X3D/VGA RTX 5090)', CAST(33000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity]) VALUES (3, 2, 4, N'Laptop gaming Lenovo LOQ 15IRX9 83DV013PVN', CAST(23490000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [RecipientName], [RecipientPhone], [RecipientAddress], [TotalAmount], [Status], [PaymentMethod], [CreatedAt], [UpdatedAt], [StatusId]) VALUES (1, 3, N'Khách A', N'0909000001', N'Quận 1, HCM', CAST(25000000.00 AS Decimal(18, 2)), N'Pending', NULL, CAST(N'2025-10-30T02:20:34.6610322' AS DateTime2), NULL, NULL)
INSERT [dbo].[Orders] ([OrderId], [UserId], [RecipientName], [RecipientPhone], [RecipientAddress], [TotalAmount], [Status], [PaymentMethod], [CreatedAt], [UpdatedAt], [StatusId]) VALUES (2, 4, N'Khách B', N'0909000002', N'Quận 7, HCM', CAST(56490000.00 AS Decimal(18, 2)), N'Completed', NULL, CAST(N'2025-10-30T02:20:34.7503304' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([StatusId], [StatusName]) VALUES (6, N'Cancelled')
INSERT [dbo].[OrderStatus] ([StatusId], [StatusName]) VALUES (5, N'Completed')
INSERT [dbo].[OrderStatus] ([StatusId], [StatusName]) VALUES (4, N'Delivered')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Description], [CategoryId], [SKU], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsPublished], [CreatedAt], [UpdatedAt]) VALUES (1, N'Laptop Dell XPS 9350 XPS9350-U5IA165W11GR-FP', N'Laptop cao cấp, màn hình 13 inch, Intel i7', 1, N'DLXPS13', CAST(25000000.00 AS Decimal(18, 2)), NULL, 8, N'/images/products/laptop_dell_xps.jpg', 1, CAST(N'2025-10-30T02:20:34.5146649' AS DateTime2), NULL)
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [CategoryId], [SKU], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsPublished], [CreatedAt], [UpdatedAt]) VALUES (2, N'PC GTN X ASUS ROG HATSUNE MIKU EDITION (AMD Ryzen 9 9950X3D/VGA RTX 5090)', N'PC gaming, AMD Ryzen 9 9950X3D, VGA RTX 5090', 2, N'ASUSROG1', CAST(35000000.00 AS Decimal(18, 2)), CAST(33000000.00 AS Decimal(18, 2)), 5, N'/images/products/pc_asus_rog_hatsume_miku_edition.jpg', 1, CAST(N'2025-10-30T02:20:34.5146649' AS DateTime2), NULL)
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [CategoryId], [SKU], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsPublished], [CreatedAt], [UpdatedAt]) VALUES (3, N'Laptop HP Pavilion 15 eg3091TU 8C5L2PA', N'Laptop văn phòng, CPU Intel đời 13 công nghệ mới nhất cùng 16GB RAM và SSD lên đến 512 GB', 1, N'HPPA15', CAST(25290000.00 AS Decimal(18, 2)), CAST(22990000.00 AS Decimal(18, 2)), 15, N'/images/products/Laptop_hp_pavillion_15_eg3091tu.jpg', 1, CAST(N'2025-10-30T02:20:34.5146649' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RecentViewProducts] ON 

INSERT [dbo].[RecentViewProducts] ([Id], [UserId], [ProductId], [Name], [Description], [CategoryId], [SKU], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsPublished], [ViewedAt]) VALUES (1, 1, 3, N'Laptop HP Pavilion 15 eg3091TU 8C5L2PA', N'Laptop van phòng, CPU Intel d?i 13 công ngh? m?i nh?t cùng 16GB RAM và SSD lên d?n 512 GB', 1, N'HPPA15', CAST(25290000.00 AS Decimal(18, 2)), CAST(22990000.00 AS Decimal(18, 2)), 15, N'/images/products/Laptop_hp_pavillion_15_eg3091tu.jpg', 1, CAST(N'2025-10-30T09:20:34.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[RecentViewProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Customer')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [PasswordSalt], [FullName], [Phone], [RoleId], [IsActive], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'admin@gtn.vn', 0xF1C01E7B8FCF562188FB0D73FEA8F4F47DED03F98DA153262EAEAE75953DC236F3B0AAF5B373823C52D11E13287DD6E6104BAA41E599460D007DC0F35909EB64, 0x785974AE58935648196BB3F251A42EC0E32EC95F22D09E9FF2FB72A0C45E3A97, N'Quản trị viên', NULL, 1, 1, 0, NULL, CAST(N'2025-10-30T02:20:34.3882135' AS DateTime2), NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [PasswordSalt], [FullName], [Phone], [RoleId], [IsActive], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt]) VALUES (2, N'staff', N'staff@gtn.vn', 0x48E8DC181F5AF54D640AB67B46EEB03870C7BDFC67ED9BE572F462A504858F054943F019D2E7E898CA89F28101C0B35660E20EA44009CEAD53D6E7914A1B3F8E, 0xA2674E60D1F29BB7C7FE8C38DF6E8A8D87ED32380369DCAB2850881641B37EB9, N'Nhân viên GTN', NULL, 3, 1, 0, NULL, CAST(N'2025-10-30T02:20:34.4105837' AS DateTime2), NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [PasswordSalt], [FullName], [Phone], [RoleId], [IsActive], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt]) VALUES (3, N'customer1', N'cus1@gtn.vn', 0x53F73444F79B40D25C8C4E2DF8DE64E9B650DC99BA63D32C894C90B2E1386E7320AA8445A2F3D294783741F1429F245417310F8B47D0AD1FDA34BC493F103CC3, 0x4B2528423A9E804DB8E3961F8982E81AFAE1609A0449CF2292EA791161A6295C, N'Khách hàng A', NULL, 2, 1, 0, NULL, CAST(N'2025-10-30T02:20:34.4265742' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__OrderSta__05E7698AD04F863C]    Script Date: 10/30/2025 5:30:56 PM ******/
ALTER TABLE [dbo].[OrderStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160B866741A]    Script Date: 10/30/2025 5:30:56 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E489CB4D65]    Script Date: 10/30/2025 5:30:56 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105342F7F4F30]    Script Date: 10/30/2025 5:30:56 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (newid()) FOR [CartId]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (sysutcdatetime()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RecentViewProducts] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[RecentViewProducts] ADD  DEFAULT (getdate()) FOR [ViewedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_User]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([CartId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Cart]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Product]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_User]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_Product]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_User]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[RecentViewProducts]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[RecentViewProducts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[RecentViewProducts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Admin product management
CREATE   PROCEDURE [dbo].[AddProduct]
    @Name NVARCHAR(300),
    @Description NVARCHAR(1000) = NULL,
    @CategoryId INT = NULL,
    @SKU NVARCHAR(100) = NULL,
    @Price DECIMAL(18,2),
    @DiscountPrice DECIMAL(18,2) = NULL,
    @Stock INT = 0,
    @ImageUrl NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Products(Name, Description, CategoryId, SKU, Price, DiscountPrice, Stock, ImageUrl)
    VALUES(@Name, @Description, @CategoryId, @SKU, @Price, @DiscountPrice, @Stock, @ImageUrl);
    INSERT INTO dbo.AuditLogs(Action, Meta) VALUES('AddProduct', @Name);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddRecentView]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========== 3.6) RecentViewProducts Stored Procedures ===========
-- Add or update recent view (upsert)
CREATE   PROCEDURE [dbo].[AddRecentView]
    @UserId INT,
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra sản phẩm tồn tại và published
    IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE ProductId = @ProductId AND IsPublished = 1)
    BEGIN
        RAISERROR('Product not found or not published.', 16, 1);
        RETURN;
    END

    -- Lấy thông tin sản phẩm
    DECLARE @Name NVARCHAR(300), @Description NVARCHAR(1000), @CategoryId INT, @SKU NVARCHAR(100),
            @Price DECIMAL(18,2), @DiscountPrice DECIMAL(18,2), @Stock INT, @ImageUrl NVARCHAR(1000), @IsPublished BIT;

    SELECT @Name = Name, @Description = Description, @CategoryId = CategoryId, @SKU = SKU,
           @Price = Price, @DiscountPrice = DiscountPrice, @Stock = Stock, @ImageUrl = ImageUrl, @IsPublished = IsPublished
    FROM dbo.Products WHERE ProductId = @ProductId;

    -- Xóa nếu đã tồn tại (chỉ giữ 1 bản ghi mỗi user + product)
    DELETE FROM dbo.RecentViewProducts 
    WHERE UserId = @UserId AND ProductId = @ProductId;

    -- Thêm mới với dữ liệu sản phẩm tại thời điểm xem
    INSERT INTO dbo.RecentViewProducts (
        UserId, ProductId, Name, Description, CategoryId, SKU, Price, DiscountPrice,
        Stock, ImageUrl, IsPublished, ViewedAt
    )
    VALUES (
        @UserId, @ProductId, @Name, @Description, @CategoryId, @SKU, @Price, @DiscountPrice,
        @Stock, @ImageUrl, @IsPublished, SYSUTCDATETIME()
    );

    -- Ghi log
    INSERT INTO dbo.AuditLogs (UserId, Action, Meta)
    VALUES (@UserId, 'ViewProduct', CONCAT('ProductId=', @ProductId));
END
GO
/****** Object:  StoredProcedure [dbo].[AddToCart]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========== 10) Cart operations ===========
-- AddToCart: creates cart if not exists, returns CartId
CREATE   PROCEDURE [dbo].[AddToCart]
    @CartId UNIQUEIDENTIFIER = NULL OUTPUT,
    @UserId INT = NULL,
    @ProductId INT,
    @Quantity INT = 1
AS
BEGIN
    SET NOCOUNT ON;
        DECLARE @cid UNIQUEIDENTIFIER;
        SET @cid = @CartId;

    IF @cid IS NULL
    BEGIN
        -- if user logged in, try find user's cart
        IF @UserId IS NOT NULL
        BEGIN
            SELECT TOP 1 @cid = CartId FROM dbo.Carts WHERE UserId = @UserId;
        END

        -- if still null, create new cart
        IF @cid IS NULL
        BEGIN
            SET @cid = NEWID();
            INSERT INTO dbo.Carts(CartId, UserId) VALUES(@cid, @UserId);
        END
    END

    -- get price
    DECLARE @price DECIMAL(18,2);
    SET @price = (SELECT ISNULL(DiscountPrice, Price) FROM dbo.Products WHERE ProductId = @ProductId);

    -- if item exists, update quantity; else insert
    IF EXISTS (SELECT 1 FROM dbo.CartItems WHERE CartId = @cid AND ProductId = @ProductId)
    BEGIN
        UPDATE dbo.CartItems SET Quantity = Quantity + @Quantity, PriceAtAdded = @price WHERE CartId = @cid AND ProductId = @ProductId;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.CartItems(CartId, ProductId, Quantity, PriceAtAdded) VALUES(@cid, @ProductId, @Quantity, @price);
    END

    SET @CartId = @cid;
    UPDATE dbo.Carts SET UpdatedAt = SYSUTCDATETIME() WHERE CartId = @cid;
    INSERT INTO dbo.AuditLogs(UserId, Action, Meta) VALUES(@UserId, 'AddToCart', CONCAT('CartId=', @cid, '; ProductId=', @ProductId, '; Qty=', @Quantity));
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelOrder]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CancelOrder]
    @OrderId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    -- only allow cancel if status is Pending or Preparing
    IF EXISTS (SELECT 1 FROM dbo.Orders WHERE OrderId = @OrderId AND Status IN ('Pending','Preparing'))
    BEGIN
        UPDATE dbo.Orders SET Status = 'Cancelled', UpdatedAt = SYSUTCDATETIME() WHERE OrderId = @OrderId;
        -- restore stock
        UPDATE p
        SET p.Stock = p.Stock + oi.Quantity
        FROM dbo.Products p
        JOIN dbo.OrderItems oi ON p.ProductId = oi.ProductId
        WHERE oi.OrderId = @OrderId;
        INSERT INTO dbo.AuditLogs(UserId, Action, Meta) VALUES(@UserId, 'CancelOrder', CONCAT('OrderId=', @OrderId));
    END
    ELSE
    BEGIN
        RAISERROR('Order cannot be cancelled (status not allowed).',16,1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ChangePassword procedure
CREATE   PROCEDURE [dbo].[ChangePassword]
    @UserId INT,
    @OldPassword NVARCHAR(4000),
    @NewPassword NVARCHAR(4000)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @salt VARBINARY(128), @stored VARBINARY(8000);
    SELECT @salt = PasswordSalt, @stored = PasswordHash FROM dbo.Users WHERE UserId = @UserId;
    IF @stored IS NULL
    BEGIN
        RAISERROR('User not found.',16,1); RETURN;
    END
    IF HASHBYTES('SHA2_512', @salt + CONVERT(VARBINARY(MAX), @OldPassword)) <> @stored
    BEGIN
        RAISERROR('Old password incorrect.',16,1); RETURN;
    END

    
    -- Password strength checks
    IF LEN(@NewPassword) < 12
    BEGIN
        RAISERROR('New password must be at least 12 characters long.',16,1); RETURN;
    END
    IF @NewPassword NOT LIKE '%[A-Z]%'
    BEGIN
        RAISERROR('New password must contain at least one uppercase letter.',16,1); RETURN;
    END
    IF @NewPassword NOT LIKE '%[a-z]%'
    BEGIN
        RAISERROR('New password must contain at least one lowercase letter.',16,1); RETURN;
    END
    IF @NewPassword NOT LIKE '%[0-9]%'
    BEGIN
        RAISERROR('New password must contain at least one digit.',16,1); RETURN;
    END
    IF @NewPassword NOT LIKE '%[^a-zA-Z0-9]%'
    BEGIN
        RAISERROR('New password must contain at least one special character.',16,1); RETURN;
    END

    -- Prevent reuse of last password (basic check)
    IF HASHBYTES('SHA2_512', @salt + CONVERT(VARBINARY(MAX), @NewPassword)) = @stored
    BEGIN
        RAISERROR('New password must be different from the current password.',16,1); RETURN;
    END

    DECLARE @newSalt VARBINARY(64);
    SET @newSalt = CRYPT_GEN_RANDOM(32);
    DECLARE @newHash VARBINARY(8000);
    SET @newHash = HASHBYTES('SHA2_512', @newSalt + CONVERT(VARBINARY(MAX), @NewPassword));
    UPDATE dbo.Users SET PasswordSalt = @newSalt, PasswordHash = @newHash, UpdatedAt = SYSUTCDATETIME() WHERE UserId = @UserId;
    INSERT INTO dbo.AuditLogs(UserId, Action) VALUES(@UserId, 'ChangePassword');
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeleteProduct]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Products WHERE ProductId = @ProductId;
    INSERT INTO dbo.AuditLogs(Action, Meta) VALUES('DeleteProduct', CONCAT('ProductId=', @ProductId));
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllOrders]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Admin: Get all orders + details
CREATE   PROCEDURE [dbo].[GetAllOrders]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT o.*, u.Username, u.Email FROM dbo.Orders o LEFT JOIN dbo.Users u ON o.UserId = u.UserId ORDER BY o.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCustomers]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetCustomers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserId, Username, Email, FullName, Phone, RoleId, IsActive, CreatedAt FROM dbo.Users WHERE RoleId = 2;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetOrderDetails]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetOrderDetails]
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT o.*, oi.OrderItemId, oi.ProductId, oi.ProductName, oi.UnitPrice, oi.Quantity
    FROM dbo.Orders o
    LEFT JOIN dbo.OrderItems oi ON o.OrderId = oi.OrderId
    WHERE o.OrderId = @OrderId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersByUserId]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========== 11) Orders queries, cancel, admin functions ===========
CREATE   PROCEDURE [dbo].[GetOrdersByUserId]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT o.*, oi.OrderItemId, oi.ProductId, oi.ProductName, oi.UnitPrice, oi.Quantity
    FROM dbo.Orders o
    LEFT JOIN dbo.OrderItems oi ON o.OrderId = oi.OrderId
    WHERE o.UserId = @UserId
    ORDER BY o.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductDetails]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetProductDetails]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.*, c.Name AS CategoryName
    FROM dbo.Products p
    LEFT JOIN dbo.Categories c ON p.CategoryId = c.CategoryId
    WHERE p.ProductId = @ProductId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRecentViewProducts]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get recent viewed products with product details
CREATE   PROCEDURE [dbo].[GetRecentViewProducts]
    @UserId INT,
    @Limit INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Limit)
        rv.Id,
        rv.UserId,
        rv.ProductId,
        rv.Name,
        rv.Description,
        rv.CategoryId,
        rv.SKU,
        rv.Price,
        rv.DiscountPrice,
        rv.Stock,
        rv.ImageUrl,
        rv.IsPublished,
        rv.ViewedAt
    FROM dbo.RecentViewProducts rv
    WHERE rv.UserId = @UserId
    ORDER BY rv.ViewedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueReport]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Revenue report (by day / month)
CREATE   PROCEDURE [dbo].[GetRevenueReport]
    @Period NVARCHAR(10) -- 'day' or 'month'
AS
BEGIN
    SET NOCOUNT ON;
    IF @Period = 'day'
    BEGIN
        SELECT CAST(CreatedAt AS DATE) AS [Date], SUM(TotalAmount) AS Revenue, COUNT(OrderId) AS Orders
        FROM dbo.Orders
        WHERE Status <> 'Cancelled'
        GROUP BY CAST(CreatedAt AS DATE)
        ORDER BY [Date] DESC;
    END
    ELSE
    BEGIN
        SELECT YEAR(CreatedAt) AS [Year], MONTH(CreatedAt) AS [Month], SUM(TotalAmount) AS Revenue, COUNT(OrderId) AS Orders
        FROM dbo.Orders
        WHERE Status <> 'Cancelled'
        GROUP BY YEAR(CreatedAt), MONTH(CreatedAt)
        ORDER BY [Year] DESC, [Month] DESC;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LoginUser (with lockout after repeated failures)
CREATE   PROCEDURE [dbo].[LoginUser]
    @UsernameOrEmail NVARCHAR(255),
    @Password NVARCHAR(4000),
    @OutUserId INT OUTPUT,
    @OutRole NVARCHAR(50) OUTPUT,
    @IPAddress NVARCHAR(45) = NULL,
    @UserAgent NVARCHAR(512) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- IP rate limiting: block if too many failed attempts from the same IP in last 15 minutes
    IF @IPAddress IS NOT NULL
    BEGIN
        DECLARE @recentFails INT = (SELECT COUNT(1) FROM dbo.LoginHistory WHERE IPAddress = @IPAddress AND Success = 0 AND LoginTime >= DATEADD(MINUTE,-15,SYSUTCDATETIME()));
        IF @recentFails >= 10
        BEGIN
            INSERT INTO dbo.LoginHistory(UserId, Success, IPAddress, UserAgent) VALUES(NULL, 0, @IPAddress, @UserAgent);
            RAISERROR('Too many failed login attempts from your IP. Try again later.',16,1);
            RETURN;
        END
    END
SET @OutUserId = NULL; SET @OutRole = NULL;

    DECLARE @uid INT, @salt VARBINARY(100), @storedHash VARBINARY(8000), @failed INT, @lockedUntil DATETIME2;

    SELECT @uid = UserId, @salt = PasswordSalt, @storedHash = PasswordHash, @failed = FailedLoginAttempts, @lockedUntil = LockedUntil
    FROM dbo.Users
    WHERE (Username = @UsernameOrEmail OR Email = @UsernameOrEmail);

    IF @uid IS NULL
    BEGIN
        -- log anonymous failed attempt
        INSERT INTO dbo.LoginHistory(UserId, Success, IPAddress, UserAgent) VALUES(NULL, 0, @IPAddress, @UserAgent);
        RAISERROR('Invalid username/email or password.',16,1);
        RETURN;
    END

    IF @lockedUntil IS NOT NULL AND @lockedUntil > SYSUTCDATETIME()
    BEGIN
        DECLARE @lockedUntilStr NVARCHAR(30);
        SET @lockedUntilStr = CONVERT(NVARCHAR(30), @lockedUntil, 120);

        RAISERROR('Account locked until %s',16,1, @lockedUntilStr);
        RETURN;
    END


    DECLARE @pw_bin VARBINARY(MAX);
    SET @pw_bin = CONVERT(VARBINARY(MAX), @Password);
    DECLARE @computedHash VARBINARY(8000);
    SET @computedHash = HASHBYTES('SHA2_512', @salt + @pw_bin);

    IF @computedHash = @storedHash
    BEGIN
        UPDATE dbo.Users SET FailedLoginAttempts = 0, LockedUntil = NULL, UpdatedAt = SYSUTCDATETIME() WHERE UserId = @uid;
        SELECT @OutUserId = u.UserId, @OutRole = r.RoleName
        FROM dbo.Users u JOIN dbo.Roles r ON u.RoleId = r.RoleId WHERE u.UserId = @uid;
        INSERT INTO dbo.LoginHistory(UserId, Success, IPAddress, UserAgent) VALUES(@uid, 1, @IPAddress, @UserAgent);
        INSERT INTO dbo.AuditLogs(UserId, Action) VALUES(@uid, 'LoginSuccess');
    END
    ELSE
    BEGIN
        SET @failed = ISNULL(@failed,0) + 1;
        DECLARE @newLocked DATETIME2 = NULL;
        IF @failed >= 5 SET @newLocked = DATEADD(MINUTE, 15, SYSUTCDATETIME());

        UPDATE dbo.Users SET FailedLoginAttempts = @failed, LockedUntil = @newLocked, UpdatedAt = SYSUTCDATETIME() WHERE UserId = @uid;
        INSERT INTO dbo.LoginHistory(UserId, Success, IPAddress, UserAgent) VALUES(@uid, 0, @IPAddress, @UserAgent);
        INSERT INTO dbo.AuditLogs(UserId, Action, Meta) VALUES(@uid, 'LoginFailed', CONCAT('failed=', @failed));
        RAISERROR('Invalid username/email or password.',16,1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[PlaceOrderFromCart]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Checkout (from cart) -> create Order (supports guest if @UserId IS NULL)
CREATE   PROCEDURE [dbo].[PlaceOrderFromCart]
    @CartId UNIQUEIDENTIFIER,
    @UserId INT = NULL,
    @RecipientName NVARCHAR(200),
    @RecipientPhone NVARCHAR(30),
    @RecipientAddress NVARCHAR(1000),
    @OutOrderId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS(SELECT 1 FROM dbo.CartItems WHERE CartId = @CartId)
        BEGIN
            RAISERROR('Cart is empty.',16,1);
            ROLLBACK TRAN; RETURN;
        END

        -- calculate total and check stock
        IF EXISTS (
            SELECT 1 FROM dbo.CartItems ci JOIN dbo.Products p ON ci.ProductId = p.ProductId WHERE p.Stock < ci.Quantity AND ci.CartId = @CartId
        )
        BEGIN
            RAISERROR('Insufficient stock for one or more items.',16,1);
            ROLLBACK TRAN; RETURN;
        END

        DECLARE @total DECIMAL(18,2);
SET @total = (SELECT SUM(ci.PriceAtAdded * ci.Quantity) 
              FROM dbo.CartItems ci 
              WHERE ci.CartId = @CartId);


        INSERT INTO dbo.Orders(UserId, RecipientName, RecipientPhone, RecipientAddress, TotalAmount)
        VALUES(@UserId, @RecipientName, @RecipientPhone, @RecipientAddress, @total);

        SET @OutOrderId = SCOPE_IDENTITY();

        INSERT INTO dbo.OrderItems(OrderId, ProductId, ProductName, UnitPrice, Quantity)
        SELECT @OutOrderId, ci.ProductId, p.Name, ci.PriceAtAdded, ci.Quantity
        FROM dbo.CartItems ci JOIN dbo.Products p ON ci.ProductId = p.ProductId
        WHERE ci.CartId = @CartId;

        -- deduct stock
        UPDATE p SET p.Stock = p.Stock - ci.Quantity
        FROM dbo.Products p JOIN dbo.CartItems ci ON p.ProductId = ci.ProductId
        WHERE ci.CartId = @CartId;

        -- clear cart
        DELETE FROM dbo.CartItems WHERE CartId = @CartId;
        DELETE FROM dbo.Carts WHERE CartId = @CartId;

        COMMIT TRAN;

        INSERT INTO dbo.AuditLogs(UserId, Action, Meta) VALUES(@UserId, 'PlaceOrder', CONCAT('OrderId=', @OutOrderId, '; CartId=', @CartId));
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        DECLARE @msg NVARCHAR(4000);
        SET @msg = ERROR_MESSAGE();
        RAISERROR('PlaceOrder failed: %s',16,1,@msg);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =====================================
   REGISTER USER — An toàn + có Salt + Hash
   ===================================== */
/* =====================================
   REGISTER USER — có kiểm tra độ mạnh mật khẩu
   ===================================== */
CREATE   PROCEDURE [dbo].[RegisterUser]
    @Username NVARCHAR(100),
    @Email NVARCHAR(255),
    @Password NVARCHAR(4000),
    @RoleId INT = 2,             -- mặc định role khách hàng
    @Phone NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra trùng username hoặc email
    IF EXISTS (SELECT 1 FROM dbo.Users WHERE Username = @Username OR Email = @Email)
    BEGIN
        RAISERROR('Username or Email already exists.', 16, 1);
        RETURN;
    END

    --  KIỂM TRA ĐỘ MẠNH MẬT KHẨU
        -- Kiểm tra độ mạnh mật khẩu
        -- 🔐 Kiểm tra độ mạnh mật khẩu
    -- 🔐 Kiểm tra độ mạnh mật khẩu
    DECLARE @pwd NVARCHAR(4000) = ISNULL(LTRIM(RTRIM(@Password)), '');

    IF LEN(@pwd) < 8
    BEGIN
        RAISERROR (N'❌ Password must be at least 8 characters long.', 16, 1);
        RETURN;
    END
    IF @pwd COLLATE Latin1_General_CS_AS NOT LIKE '%[A-Z]%'
    BEGIN
        RAISERROR (N'❌ Password must contain at least one uppercase letter.', 16, 1);
        RETURN;
    END
    IF @pwd COLLATE Latin1_General_CS_AS NOT LIKE '%[a-z]%'
    BEGIN
        RAISERROR (N'❌ Password must contain at least one lowercase letter.', 16, 1);
        RETURN;
    END
    IF @pwd NOT LIKE '%[0-9]%'
    BEGIN
        RAISERROR (N'❌ Password must contain at least one digit.', 16, 1);
        RETURN;
    END






    --  Hash & Salt mật khẩu
    DECLARE @salt VARBINARY(32) = CRYPT_GEN_RANDOM(32);
    DECLARE @pw_bin VARBINARY(MAX) = CONVERT(VARBINARY(MAX), @Password);
    DECLARE @hash VARBINARY(8000) = HASHBYTES('SHA2_512', @salt + @pw_bin);

    -- Thêm vào bảng Users
    INSERT INTO dbo.Users (
        Username, Email, Phone,
        PasswordSalt, PasswordHash, RoleId,
        FailedLoginAttempts, LockedUntil,
        CreatedAt, UpdatedAt
    )
    VALUES (
        @Username, @Email, @Phone,
        @salt, @hash, @RoleId,
        0, NULL,
        SYSUTCDATETIME(), SYSUTCDATETIME()
    );

    DECLARE @newUserId INT = SCOPE_IDENTITY();

    -- Ghi log đăng ký
    INSERT INTO dbo.AuditLogs(UserId, Action, Meta)
    VALUES (@newUserId, 'Register', CONCAT('Email=', @Email));

    -- Trả về ID user vừa tạo
    SELECT @newUserId AS NewUserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchProducts]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =========== 9) Product search & details (user) ===========
CREATE   PROCEDURE [dbo].[SearchProducts]
    @Keyword NVARCHAR(300) = NULL,
    @MinPrice DECIMAL(18,2) = NULL,
    @MaxPrice DECIMAL(18,2) = NULL,
    @CategoryId INT = NULL,
    @Page INT = 1,
    @PageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH q AS (
        SELECT p.ProductId, p.Name, p.Description, p.Price, p.DiscountPrice, p.Stock, p.ImageUrl, c.Name AS CategoryName
        FROM dbo.Products p
        LEFT JOIN dbo.Categories c ON p.CategoryId = c.CategoryId
        WHERE ( @Keyword IS NULL OR p.Name LIKE '%' + @Keyword + '%' OR p.Description LIKE '%' + @Keyword + '%' )
          AND ( @MinPrice IS NULL OR ISNULL(p.DiscountPrice, p.Price) >= @MinPrice )
          AND ( @MaxPrice IS NULL OR ISNULL(p.DiscountPrice, p.Price) <= @MaxPrice )
          AND ( @CategoryId IS NULL OR p.CategoryId = @CategoryId )
          AND p.IsPublished = 1
    )
    SELECT * FROM q
    ORDER BY Name
    OFFSET (@Page-1)*@PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProduct]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 1️⃣ Thêm sản phẩm
CREATE   PROCEDURE [dbo].[sp_AddProduct]
    @Name NVARCHAR(255),
    @CategoryID INT,
    @Price DECIMAL(18,2),
    @DiscountPrice DECIMAL(18,2) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @ImageUrl NVARCHAR(500) = NULL,
    @Stock INT = 0
AS
BEGIN
    INSERT INTO dbo.Products (Name, CategoryID, Price, DiscountPrice, Description, ImageUrl, Stock, CreatedAt)
    VALUES (@Name, @CategoryID, @Price, @DiscountPrice, @Description, @ImageUrl, @Stock, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3️⃣ Xóa sản phẩm
CREATE   PROCEDURE [dbo].[sp_DeleteProduct]
    @ProductID INT
AS
BEGIN
    DELETE FROM dbo.Products WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThu]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7️⃣ Stored procedure tổng hợp cho cả 3 chế độ
CREATE   PROCEDURE [dbo].[sp_ThongKeDoanhThu]
    @FromDate DATE,
    @ToDate DATE,
    @Mode NVARCHAR(10) = N'Ngay'  -- có thể chọn: 'Ngay' | 'Tuan' | 'Thang'
AS
BEGIN
    SET NOCOUNT ON;

    IF @Mode = N'Ngay'
    BEGIN
        SELECT * FROM dbo.View_DoanhThuNgay
        WHERE Ngay BETWEEN @FromDate AND @ToDate
        ORDER BY Ngay;
    END
    ELSE IF @Mode = N'Tuan'
    BEGIN
        SELECT * FROM dbo.View_DoanhThuTuan
        WHERE CONCAT(Nam, '-', Tuan) BETWEEN 
              CONCAT(YEAR(@FromDate), '-', DATEPART(WEEK, @FromDate)) 
              AND CONCAT(YEAR(@ToDate), '-', DATEPART(WEEK, @ToDate))
        ORDER BY Nam, Tuan;
    END
    ELSE IF @Mode = N'Thang'
    BEGIN
        SELECT * FROM dbo.View_DoanhThuThang
        WHERE CONCAT(Nam, '-', Thang) BETWEEN 
              CONCAT(YEAR(@FromDate), '-', MONTH(@FromDate)) 
              AND CONCAT(YEAR(@ToDate), '-', MONTH(@ToDate))
        ORDER BY Nam, Thang;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2️⃣ Cập nhật sản phẩm
CREATE   PROCEDURE [dbo].[sp_UpdateProduct]
    @ProductID INT,
    @Name NVARCHAR(255),
    @CategoryID INT,
    @Price DECIMAL(18,2),
    @DiscountPrice DECIMAL(18,2) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @ImageUrl NVARCHAR(500) = NULL,
    @Stock INT = NULL
AS
BEGIN
    UPDATE dbo.Products
    SET 
        Name = @Name,
        CategoryID = @CategoryID,
        Price = @Price,
        DiscountPrice = @DiscountPrice,
        Description = @Description,
        ImageUrl = @ImageUrl,
        Stock = @Stock,
        UpdatedAt = GETDATE()
    WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatus]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateOrderStatus]
    @OrderId INT,
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Orders SET Status = @Status, UpdatedAt = SYSUTCDATETIME() WHERE OrderId = @OrderId;
    INSERT INTO dbo.AuditLogs(Action, Meta) VALUES('UpdateOrderStatus', CONCAT('OrderId=', @OrderId, '; Status=', @Status));
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateProduct]
    @ProductId INT,
    @Name NVARCHAR(300),
    @Description NVARCHAR(1000) = NULL,
    @CategoryId INT = NULL,
    @SKU NVARCHAR(100) = NULL,
    @Price DECIMAL(18,2),
    @DiscountPrice DECIMAL(18,2) = NULL,
    @Stock INT,
    @ImageUrl NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Products
    SET Name=@Name, Description=@Description, CategoryId=@CategoryId, SKU=@SKU, Price=@Price, DiscountPrice=@DiscountPrice, Stock=@Stock, ImageUrl=@ImageUrl, UpdatedAt=SYSUTCDATETIME()
    WHERE ProductId = @ProductId;
    INSERT INTO dbo.AuditLogs(Action, Meta) VALUES('UpdateProduct', CONCAT('ProductId=', @ProductId));
END;
GO
/****** Object:  StoredProcedure [dbo].[ViewCart]    Script Date: 10/30/2025 5:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ViewCart
CREATE   PROCEDURE [dbo].[ViewCart]
    @CartId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ci.CartItemId, ci.CartId, ci.ProductId, p.Name AS ProductName, ci.Quantity, ci.PriceAtAdded, (ci.PriceAtAdded * ci.Quantity) AS LineTotal, p.Stock
    FROM dbo.CartItems ci
    JOIN dbo.Products p ON ci.ProductId = p.ProductId
    WHERE ci.CartId = @CartId;
END;
GO
