:root {
  --main-color: #e30019;
  --color-primary: #e30019;
  --color-secondary: #6d6e72;
  --color-sub: #1982f9;
  --color-state-info: #1982f9;
  --color-state-success: #24b400;
  --color-state-warning: #fdd835;
  --color-state-error: #e30019;
  --color-state-question: #ff8a00;
  --color-text: #111111;
  --color-title: #333333;
  --color-hover: #e30019;
  --color-line-border: #cfcfcf;
  --color-text-link: #0568d6;
  --color-body-bg: #ececec;
  --color-body-bg-loading: rgba(255, 255, 255, 0.5);
  --color-price: #2c3c4d;
  --color-old-price: #e2231a;
  --color-new-price: #e30019;
  --color-input-bg: #f6f7fa;
  --color-input-text: #2c3c4d;
  --color-input-fill: #cfcfcf;
  --color-input-fill-sucess: #1e9800;
  --color-input-fill-error: #e30019;
  --color-input-bg-active: var(--color-body-bg);
  --shadow: 0px 4px 20px rgba(22, 19, 69, 0.13);
  --radius: 10px;
  --radius-input: 4px;
  --radius-button: 4px;
  --radius-badge1: 3px;
  --radius-badge2: 16px;
  --radius-checkbox: 4px;
  --radius-image: 4px;
  --radius-label-percent: 2px;
  --radius-progress: 16px;
  --home-coupon-bg: #ffffff;
  --home-coupon-light: #ffffff;
  --home-coupon-border: #f8d0d3;
  --home-coupon-text: #333333;
  --textcolor: #111111;
  --maincolor: #e30019;
  --titlecolor: #333333;
  --hovercolor: #e30019;
  --bordercolor: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ececec;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container-fluid {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/* Existing styles */
.container-fluid .top-banner {
  width: 100%;
}

.container-fluid .top-banner .img-banner {
  width: 100%;
  height: 40px;
}

.list-banner {
  background-color: #bae7fb;
}

.main-header--top {
  background-color: var(--color-primary);
}

.menu {
  width: 100%;
  height: 90px;
  gap: 25px;
  background: var(--color-primary);
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 60px;
  height: 50px;
  cursor: pointer;
}

.category {
  font-size: 16px;
  background-color: #be1529;
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.search {
  min-width: 350px;
  height: 42px;
  padding: 8px 50px 8px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
}

.button-search {
  position: absolute;
  right: 2px;
  padding: 10px;
  border: none;
  outline: none;
  background: #fff;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotline,
.showroom-system,
.track-oder,
.user-cart,
.login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotline-text,
.showroom-system-text,
.track-oder-text,
.user-cart-text,
.login-text {
  display: flex;
  flex-direction: column;
}

.showroom-system {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white; /* thêm để đồng bộ với Hotline */
}
.showroom-system-text {
  display: flex;
  flex-direction: column;
}

.login {
  font-size: 16px;
  font-weight: 600;
  color: #fff; 
  gap: 10px;
  background-color: #be1529;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
}

.sub-header {
  padding: 10px;
  background: #fff;
}

.list-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.list-submenu li a {
  color: var(--color-text);
}

.list-submenu li.active a {
  color: var(--color-primary);
}

.container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
  background: url("/image/slider-img/slider-banner-1.webp") no-repeat center center;
  background-size: cover;
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(87, 85, 85, 0.4);
  color: white;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: background 0.3s;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.container:hover .prev,
.container:hover .next {
  opacity: 1;
  pointer-events: auto;
}

.container-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 20px;
  height: 4px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: var(--color-primary);
  width: 25px;
}

.megamenu-nav {
  width: 200px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.megamenu-nav {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin: 0 100px;
  padding: 10px 0;
}

.megamenu-nav-main {
  list-style: none;
  margin: 0;
  padding: 0;
}

.megamenu-nav-main li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
}

.megamenu-nav-main li i {
  font-size: 18px;
}

.megamenu-nav-main li span {
  flex: 1;
  margin-left: 10px;
}

.megamenu-nav-main li:hover {
  background: #f5f5f5;
}

.megamenu-nav-main span:hover {
  color: var(--color-primary);
}

[class^="megamenu-content"] {
  position: absolute;
  top: 0;
  left: 100%;
  width: 1200px;
  background: #fff;
  border: 1px solid #ddd;
  display: none;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 99;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.megamenu-column h4 {
  font-size: 16 px;
  margin-bottom: 15px;
  color: var(--color-primary);
}

.megamenu-column a {
  display: block;
  margin-bottom: 15px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.megamenu-column a:hover {
  color: var(--color-primary);
}

.megamenu-nav-1:hover .megamenu-content-1 {
  display: grid;
}

.megamenu-nav-2:hover .megamenu-content-2 {
  display: grid;
}

.megamenu-nav-3:hover .megamenu-content-3 {
  display: grid;
}

.megamenu-nav-4:hover .megamenu-content-4 {
  display: grid;
}

.megamenu-nav-5:hover .megamenu-content-5 {
  display: grid;
}

.megamenu-nav-6:hover .megamenu-content-6 {
  display: grid;
}

.megamenu-nav-6:hover .megamenu-content-6 {
  display: grid;
}

.megamenu-nav-7:hover .megamenu-content-7 {
  display: grid;
}

.megamenu-nav-8:hover .megamenu-content-8 {
  display: grid;
}

.megamenu-nav-9:hover .megamenu-content-9 {
  display: grid;
}

.megamenu-nav-10:hover .megamenu-content-10 {
  display: grid;
}

.megamenu-nav-11:hover .megamenu-content-11 {
  display: grid;
}

.main-banner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Footer */
footer {
  background: #f8f8fc;
  color: #464343;
  font-size: 14px;
  line-height: 1.6;
}

.footer-container {
  width: 100%;
  margin: 20px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.footer-col h4 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col .mail {
  color: blue;
}

.footer-col ul li {
  margin-bottom: 6px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #333;
}

.footer-col ul li a:hover {
  color: var(--color-primary);
}

.payment-bank {
  display: flex;
}

.payment {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.list-items {
  display: flex;
  gap: 10px;
}

.payment a {
  text-decoration: none;
  color: #333;
}

.payment a:hover {
  color: var(--color-primary);
}

.payment img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.bank-list {
  gap: 40px;
  padding-left: 50px;
}

.bank-list img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer-bottom {
  background-color: rgb(184, 187, 186);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 20px;
  gap: 30px;
}

.footer-bottom .company-info,
.footer-bottom .address {
  flex: 1;
}

.footer-bottom h4 {
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: bold;
}

.footer-bottom p {
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  margin: 1px 0 1px 0;
}

/* Body content */
.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 1220px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.new-price {
  color: red;
  font-weight: bold;
  margin-right: 8px;
}

.discount {
  color: #fff;
  background: red;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}

/* Flash sale */

.flash-sale-header {
  display: flex;
  align-items: center;
  justify-content: left;
  background: #003bb8;
  color: #fff;
  padding: 12px 16px;
  border-radius: 6px 6px 0px 0px;
}

.countdown {
  font-size: 18px;
  font-weight: bold;
}

.flash-sale-header>h2 {
  font-weight: bold;
  font-style: italic;
  color: #ffee12;
}


.flash-sale-content {
  padding: 16px;
  background: url("/image/sale-bg/thang_04_layout_web_-12.png") no-repeat center center;
  background-size: cover;
}

.sale-title {
  background: #fff;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: bold;
}

.product-slider {
  position: relative;
  overflow: hidden;
  padding: 16px 0px 8px;
}

.product-list {
  display: flex;
  transition: transform 0.3s ease;
}

.product-card {
  flex: 0 0 calc(100% / 6);
  /* mỗi card chiếm 1/6 khung */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
  margin-right: 15px;
  min-width: 180px;
  text-align: center;
  transition: transform 0.3s;

}

/* .product-card:hover {
  transform: translateY(-5px);
} */

.product-card img {
  border-radius: 5px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}

.new-price {
  color: red;
  font-weight: bold;
}

.status {
  color: #ff6600;
  font-size: 14px;
}

.product-slider-prev,
.product-slider-next {
  position: absolute;
  top: 40%;
  background: rgba(87, 85, 85, 0.4);
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.product-slider-prev {
  left: 0px;
}

.product-slider-next {
  right: 0px;
}

.product-slider-prev:hover {
  background: rgba(8, 8, 8, 0.4);
  color: var(--color-primary);
}

.product-slider-next:hover {
  background: rgba(8, 8, 8, 0.4);
  color: var(--color-primary);
}

.more-promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.more-promotion a {
  padding: 7px 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1aa6f7;
  border-radius: 8px;
}

.flash-sale-2 .flash-sale-header {
  margin-top: 20px;
  padding: 20px 16px 16px;
}

.flash-sale-2 .flash-sale-content {
  display: flex;
}

.flash-sale-2 .flash-sale-content .flash-sale-2-content-img img {
  width: 400px;
  height: 300px;
}

.flash-sale-2 .flash-sale-content-dots {
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.flash-sale-content-dot {
  width: 20px;
  height: 4px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.flash-sale-content-dot.active {
  background: var(--color-primary);
  width: 25px;
}

.mid-banner {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.mid-banner img {
  width: 600px;
  height: 180px;
  border-radius: 8px;
}

/* Collection sesion */
.section .section-collection {
  background: #7ba2f0;
  border-radius: 8px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  color: black;
  padding: 12px 28px 12px 24px;
  border-radius: 6px 6px 0px 0px;
}

.box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-header {
  padding-right: 20px;
  font-size: 14px;
  border-right: 1px solid black;
}

.box-subheader {
  font-size: 14px;
}

.box-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cate-list {
  display: flex;
  gap: 15px;
}

.cate-list>li>a {
  font-size: 14px;
  color: black;
}

.box-link>a {
  font-size: 14px;
  color: #1aa6f7;
  font-weight: bold;
}

.section-content {
  padding: 0px 20px;
  background-color: #fff;
}

/* Mid banner 2*/
.mid-banner-left {
  padding: 0px 8px;
}

.mid-banner-left>img {
  width: 800px;
  height: 250px;
}

.mid-banner-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 8px;
}

.mid-banner-right>img {
  width: 400px;
  height: 120px;
}

.product-list.full {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}


/* Tablet  */
@media (max-width: 992px) {
  .payment img {
    width: 40px;
    height: 40px;
  }

  .bank-list img {
    max-width: 90%;
  }
}

/* Mobile  */
@media (max-width: 768px) {
  .payment {
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .payment img {
    width: 35px;
    height: 35px;
  }

  .bank-list img {
    max-width: 100%;
  }
}

/* Mobile  */
@media (max-width: 480px) {
  .payment img {
    width: 30px;
    height: 30px;
  }

  .payment p {
    font-size: 12px;
  }

  .bank-list h4 {
    font-size: 13px;
  }
}

.product-slider {
  position: relative;
  overflow: hidden;
  padding: 16px 0px 8px;
}

.product-list {
  display: flex;
  transition: transform 0.5s ease;
}

.product-card {
  flex: 0 0 calc(100% / 6);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-right: 15px;
  min-width: 180px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}

.new-price {
  color: red;
  font-weight: bold;
}

.status {
  color: #ff6600;
  font-size: 14px;
}

.product-slider-prev,
.product-slider-next {
  position: absolute;
  top: 40%;
  background: rgba(87, 85, 85, 0.4);
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.product-slider-prev {
  left: 0px;
}

.product-slider-next {
  right: 0px;
}

.product-slider-prev:hover,
.product-slider-next:hover {
  background: rgba(8, 8, 8, 0.4);
  color: var(--color-primary);
}

.sub-banner {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.sub-banner img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.recent-view {
  padding: 20px;
  background: #fff;
  margin: 20px 0;
  border-radius: 8px;
}

.recent-view .product-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(100% / 4);
  gap: 10px;
  text-align: center;
}

.recent-view .product-card img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.flash-sale,
.section-collection {
  padding: 20px;
  background: #fff;
  margin: 20px 0;
  border-radius: 8px;
}

.recent-view h2,
.flash-sale h2,
.section-collection h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--color-title);
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.collection-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.collection-grid p {
  text-align: center;
  margin-top: 8px;
  font-weight: 500;
}