.showroomSystemContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.menuList {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #eee;

      a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: #0877d8;
        transition: 0.2s;
      }

      &.active {
        a {
          background: #075396;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}

/* Phần nội dung điều khoản */
.termsContent {
  flex: 1;
  background: #fff;
  padding: 20px;
  line-height: 1.6;
  border-radius: 0px 10px 10px 0px;

  h1 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #075396;
  }

  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
  }

  p {
    margin-bottom: 10px;
    color: #444;
  }

  ul {
    padding-left: 20px;
    margin-top: 10px;

    li {
      margin-bottom: 6px;
    }
  }
}