.menuList {
  background-color: #fff;
  min-width: 250px;
  border-radius: 10px 0px 0px 10px;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 6px 0;

      a {
        text-decoration: none;
        color: #333;
        font-weight: normal;
        padding: 8px 12px;
        display: block;
        border-radius: 6px;
        transition: all 0.2s ease;
      }

      a:hover {
        background: #05d0eb;
        color: rgb(241, 241, 241);
      }

      &.active {
        a {
          font-weight: bold;
          color: rgb(242, 243, 243);
          background: #04d0eb;
          border-left: 4px solid rgb(7, 160, 231);
        }
      }
    }
  }
}