.showroom-system-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.menu-list {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #eee;

      a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: #0877d8;
        transition: 0.2s;
      }

      &.active {
        a {
          background: #075396;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}

.gioMuacua {
  display: flex;
  gap: 6px;
  padding: 10px 20px;
  align-items: center;
  background: #e0e2e0;
}

.call {
  justify-content: center;
  display: flex;
  padding-top: 15px;

  a {
    text-decoration: none;
    background-color: #28a745;
    color: white;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    gap: 8px;
    align-items: center;
    transition: 0.6s;
  }
}

.section-title {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 20px 0 10px;
  border-radius: 5px;
  font-weight: bold;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 15px;
}

.store-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h4 {
    color: #075396;
    margin: 0 auto;
  }

  a {
    color: #0877d8;
    text-decoration: none;
  }

  .btn-direction {
    background-color: #068ded;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    gap: 5px;
    color: #333;

    .st-direction-text {
      color: #fff;
    }
  }
}

.lienHe {
  background: #e0e2e0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  gap: 10px;

  a {
    text-decoration: none;
  }

  .showroom-hotline-text-footer {
    color: #28a745;
  }

  .email-website {
    a {
      color: #068ded;

      &:hover {
        color: #28a745;
      }
    }
  }
}
