.mainFooter {
  background-color: #ffffff;

  .mainFooterTop {
    display: flex;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;

    .listInfo {
      p {
        line-height: 22px;
        margin-bottom: 8px;

        span {
          display: inline-block;
          width: 70px;
        }

        a {
          color: #1982F9;
          font-weight: 600;
        }
      }
    }

    .supportInfo h4 {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 10px;
      position: relative;
      line-height: 22px;
      text-transform: uppercase;
    }

    .companyInfo h4 {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 10px;
      position: relative;
      line-height: 22px;
      text-transform: uppercase;


    }

    a {
      color: var(--textcolor);
      text-decoration: none;
      outline: none;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
}

.mainFooterBottom {
  display: flex;
  padding: 20px;
  gap: 30px;
  flex-wrap: wrap;

  .companyInfo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.shippingInfo {

  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
}

.shippingList {
  img {
    height: 50px;
    width: 50px;
  }
}

.companyInfo {
  flex: 1;
  min-width: 205px;

  a:hover,
  a:focus {
    color: var(--color-primary);
    text-decoration: underline;
    outline: none;
  }
}

.companyInfo ul {
  list-style: none;
  padding: 0;
}

.companyInfo ul li {
  margin-bottom: 5px;
  font-size: 13px;
}

.companyInfo ul li a {
  text-decoration: none;
  color: #333;
}

.bankList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bankList img {
  height: 30px;
  width: auto;
}

.companyInfo_paymentOption {
  display: flex;
  flex-direction: column;
}

.payment {
  flex: 1;
  min-width: 200px;
}

.payment h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcons a img {
  width: 32px;
  height: 32px;
}

.address {
  flex: 1;
  text-align: right;
}

.address img {
  height: 40px;
  width: auto;
}

/* Media Queries */
@media (max-width: 992px) {
  .bankList img {
    height: 25px;
  }
}

@media (max-width: 768px) {

  .mainFooterTop,
  .mainFooterBottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .address {
    text-align: left;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .companyInfo h4 {
    font-size: 13px;
  }

  .companyInfo ul li {
    font-size: 12px;
  }

  .bankList img {
    height: 20px;
  }

  .socialIcons a img {
    width: 20px;
    height: 20px;
  }
}