// app/(components)/Product/ProductCard.module.scss
.product-card {
    height: 380px;
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 16px;
    cursor: pointer; // Để clickable

    img {
        width: 100%;
        height: 210px;
        max-height: 200px;
        object-fit: contain;
        border-radius: 5px;
        margin: 0 auto 12px;
    }

    .product-name {
        font-weight: 600;
        font-size: 16px;
        color: #2c2a2a;
        margin: 0 0 8px;
        line-height: 1.4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    .price-section {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 8px;
        margin-bottom: 4px;
        justify-content: center;

        .original-price {
            text-decoration: line-through;
            color: #999;
            font-size: 14px;
        }

        .discount-container {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .discount-price,
        .current-price {
            // Thêm .current-price nếu cần
            font-weight: bold;
            color: #e30019;
            font-size: 16px;
        }

        .discount-price {
            font-size: 18px;
        }

        .discount-percent {
            color: #e30019;
            font-size: 14px;
            font-weight: bold;
            border: 1px solid #e30019;
            background-color: #ffeded;
            padding: 1px;
        }
    }

    .product-rating {
        font-size: 14px;
        color: #ff9900;
        margin-bottom: 4px;
        font-weight: bold;
    }

    .product-stock {
        font-size: 13px;
        color: #666;
        margin-top: auto;

        &.in {
            color: green;
        }

        // Optional: Màu cho còn hàng
        &.out {
            color: red;
        }
    }
}

.empty {
    // Style cho no product
    padding: 20px;
    text-align: center;
}